@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #424242;
    /* background-color: #e9e9e9; */
    font-family: 'Poppins', sans-serif;
    color: #e9e9e9;
}

.container__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    width: 100%;
    padding: 1.2rem;
}

.container__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    padding: 1.2rem;
    gap: 1.2rem;
    /* background-color: #3299BB; */
    /* border-radius: 8px; */
    /* max-width: 80%; */
    width: 100%;
    height: 180px;
}

.container__title.off {
    display: none;
}

.container__title > h1 {
    font-weight: 700;
    font-size: 4rem;
}

.container__searchbox {
    display: flex;
}

.container__searchbox > input {
    border: none;
    outline: none;
    padding: .4rem;
    width: 100%;
    border-radius: 2rem;
}

.container__searchbox > button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1.2rem;
    background-color: #ff9900;
    border: none;
    border-radius: 50%;
    width: 30px;
    font-size: 1.1rem;
    color: #e9e9e9;
    cursor: pointer;
}

.github__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    position: relative;
    padding: 1.2rem;
    background-color: #686868;
    margin-top: 2rem;
    max-width: 80%;
    width: 100%;
    min-height: 500px;
    border-bottom: .4rem solid #ff9900;
    border-radius: 8px;
}

.btn-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
}

.btn-close:hover {
    opacity: .75;
}

.github__avatar {
    max-width: 45%;
}

.github__avatar > img {
    width: 100%;
    border: 2px solid white;
    border-radius: 50%;
}

.github__username {
    font-size: 2.5rem;
}

.github__stats {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
    width: 100%;
}

.github__stat {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.n__ {
    font-size: 1.2rem;
    font-weight: 700;
}

.res {
    display: flex;
    justify-content: center;
    width: 100%;
}